<div class="card card-block">
    <div class="card-block">
        <h4 class="card-title">{{resource.name}}</h4>
    </div>
    <img alt="Place holder text" src="http://placehold.it/500x200" class="card-img-top" />
    <div class="card-block">
        <p class="card-text">Gender: {{resource.gender}}</p>
        <p class="card-text">Height: {{resource.height}} cm</p>
        <p class="card-text">Hair color: {{resource.hair_color}}</p>
        <p class="card-text">Home world: <sw-tags [type]="'planets'" [tags]="planets"></sw-tags></p>
        <!-- <p class="card-text">Films: <tags type="'films'" tags="films()"></tags></p>
        <p class="card-text">Vehicles: <tags type="'vehicles'" tags="vehicles()"></tags></p>
        <p class="card-text">Starships: <tags type="'starships'" tags="starships()"></tags></p> -->
    </div>
</div>
